$text-color-light: #8262A6;
$text-color-dark: #4A395D;
$bg-color: #DBDBDB;
$intake-bg-color: #E5E5E5;
$button-color: #C4C4C4;
$border-color: #A0A0A0;
$font-header: Regular 12pt Muli;
$font-info: Regular 18pt Muli;

.search {
  &-container {
    height: 400px;
    width: 100%;
    background-color: $bg-color;
    display: flex;
    flex-flow: column;

    position: relative;
  }
  &__content-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
  }
  &__input {
    background: #FFFFFF;
    font: $font-info;
    color: $text-color-light;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 15px;
    display: flex;
    font-size: 16px;
    border-radius: 5px;
  }
  &__result-container {
    display: flex;
    font: $font-info;
    color: $text-color-dark;
    flex-direction: column;
  }
  &__done-button-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  &__done-button {
    padding: 5px 10px 5px 18px;
    background-color: $button-color;
    border-radius: 5px;
    &:hover {
      background-color: $border-color;
    }
    flex-basis: 40px;
  }
}

.found-food {
  display:flex;
  justify-content: space-between;
  align-self:stretch;
  margin: 2px;
  padding:8px;
  background-color: $intake-bg-color;
  &__calories-wrapper {
    display:flex;
  }
  &__title-wrapper {
    display:flex;
  }
  &__weight-input {
    width: 50px;
    margin-right:5px;
  }
}